#uploads {
  position: relative;
}

#uploads .table {
  margin-left: 0;
  padding-left: 0;
}

#uploads .table .block {
    display: inline-block;
    min-width: 120px;
    min-height: 40px;
}

#uploads .table .block .progressBar {
	display: block;
	background-color: #3E6FAD;
	width: 0px;
	height: 5px;
    margin-top: 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-moz-transition: .25s ease-out;
	-webkit-transition: .25s ease-out;
	-o-transition: .25s ease-out;
	transition: .25s ease-out;
}

#uploads .table li.error .extension,
#uploads .table li.error .filename {
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
	margin-top: 10px;
}

#uploads .table li.error .message {
	text-align: left;
	font-size: 11pt;
	color: #d9534f;
}

#uploads .table .block{
    position: relative;
}
#uploads .table .block .img-tool{
    width:20px;
    float:right;
}
#uploads .table .block .img-tool #btn-view,
#uploads .table .block .img-tool #btn-crop{
    margin:0px;
    padding:2px;
}

#uploads .table li {
  list-style-type: none;
}

#uploads .table li > span {
  display: inline-block;
  padding-right: 5px;
  margin: 3px 0px; 
}

#uploads .table li > span img,
#uploads .table li > span textarea,
#uploads .table li > span input,
#uploads .table li > span select
{
  vertical-align: middle;
}
#uploads .table li > span input[type="checkbox"],
#uploads .table li > span input[type="radio"]
{
  margin-left: 0px;
}
