#bprogress {
  display: none; 
  margin-top: 20px;
}
#bfiles {
  position: relative;
}
#bfiles .table {
  margin-left: 0;
  padding-left: 0;
}
#bfiles .table li {
  list-style-type: none;
}
#bfiles .table li > span {
  display: inline-block;
  padding-right: 5px;
  margin: 3px 0px; 
}
#bfiles .table li > span img,
#bfiles .table li > span textarea,
#bfiles .table li > span input,
#bfiles .table li > span select
{
  vertical-align: middle;
}
#bfiles .table li > span input[type="checkbox"],
#bfiles .table li > span input[type="radio"]
{
  margin-left: 0px;
}
.draggable-zone {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #999;
}
.draggable-zone a {
  color: #999;
  text-decoration: none;
}
.draggable-zone a:hover {
  text-decoration: none;
}
